<div class="solo-post">
  <div class="header-solo-post">
    <h2><%=@post.title%> <%=@post.author.name%> </h2>
    <p> Comments: <%=@post.comments_counter%> Likes: <%=@post.likes_counter%></p>
  </div>
  <p><%=@post.text%></p>
  <%@comments.each do |comment|%>
    <div class="comments-post">
      <p><%=comment.author.name%>: <%= comment.text %></p>
    </div>
  <%end%>
  <div class="button-container-flex">
    <%=link_to new_user_post_comment_path(@post.author.id, @post.id), class: "see-posts" do%>
      Add new comment
    <%end%>
    <div class="button-container">
      <%= link_to user_posts_path, class: "see-posts" do%>
      Back
      <%end%>
    </div>
    <%=form_with url: user_post_likes_path(@post.author, @post) do |form|%>
      <%= form.submit "❤️ Like", class: "like-btn" %>
    <%end%>
  </div>
</div>
